.Screen-Wrapper {
  text-align: center;
}
.Cylinder-logo {
  pointer-events: none;
}
.Cylinder-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.Spacer {
  height: 22;
}
.Text {
  font-weight: 800;
  font-style: normal;
  font-family: "futura-standard";
}
.CheckboxText {
  padding-left: 10;
  font-style: normal;
  font-family: "futura-standard";
}
.Checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 0.5rem;
}
