body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Futura Std';
  src: local('Futura Std'), url(./assets/fonts/Futura/Futura-Heavy.ttf) format('opentype');
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'Challenge For Bunnings';
  src: local('Challenge For Bunnings'), url(./assets//fonts/Futura/Challenge.ttf) format('opentype');
  font-style: normal;
  font-weight: 700;
}